:root {
    --bg-aspect-ratio: 16/10;
    --bg-x: 0px;
    --bg-y: 0px;
    --bg-zoom: 1;

    font-family: sans-serif;

    scroll-behavior: smooth;

    background-color: rgb(30, 42, 78);
    background-image: url("static/img/bg-temp.png");
    background-size: calc(var(--bg-zoom)*100vh* 16/10);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-aspect-ratio:16/10) {
    :root {
        background-position: calc(var(--bg-x) + 50vw - var(--bg-zoom)*50vh* 16/10) calc(var(--bg-y) + 50vh - var(--bg-zoom)*50vh);
    }
}

@media screen and (min-aspect-ratio:16/10) {
    :root {
        background-size: calc(var(--bg-zoom)*100vw);
        background-position: calc(var(--bg-x) + 50vw - var(--bg-zoom)*50vw) calc(var(--bg-y) + 50vh - var(--bg-zoom)*50vw*10/16);
    }
}

/* MAIN */

* {
    transition: all 0.2s;
}

body {
    margin: 0;
    padding: 2rem;
    color: #eeeeee;
}

body,
input,
button {
    font-family: "Figtree";
}

h1 {
    margin: 0;
    font-size: 6rem;
    color: #fff;
}

h2 {
    font-size: 4rem;
}

#top-contents h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66.67%;
    height: 100vh;
}

#top-contents {
    backdrop-filter: blur(4px);
    padding: 1rem;
    border-radius: 1rem;
}

#top-contents button {
    border: none;
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-image: linear-gradient(90deg, rgba(61, 76, 119, 1) 50%, rgba(204, 221, 221, 1) 50%);
    background-size: 200%;
    background-position-x: 100%;
    top: 0;
}

#top-contents button:hover {
    cursor: pointer;
    background-position-x: 0%;
    color: white;
}

#top-contents button:active {
    color: white;
}

#top-contents button i {
    position: relative;
    left: 0;
}

#top-contents button:active>i {
    color: white;
    left: 0.5ch;
}

@media screen and (max-width:1100px) {
    #title {
        width: 100%;
    }
}

.section,
#top {
    min-height: 100vh;
}